<Files ~ "^.(htaccess|htpasswd)$">
deny from all
</Files>

DirectoryIndex index.html start.php index.php 
ErrorDocument 404 /404.html
order deny,allow

Options +FollowSymlinks
 RewriteEngine On
 RewriteRule ^(.*)lottery$ index.lottery.do [L]
 RewriteRule ^(.*)login$ public.login.do [L]
 RewriteRule ^(.*)mobile$ index.mobile.do [L]
 RewriteRule ^(.*)help$ news.lists.catid.33.do [L]
 RewriteRule ^(.*)ashome$ index.home.do [L]
 RewriteRule ^(.*)home$ index.index.do [L]
 RewriteRule ^(.*)lotteryhemai$ index.lotteryhemai.do [L]
 RewriteRule ^(.*)game/_ajax/details/(.*)$ "$1Game.details?no=$2" [L]
 RewriteRule ^(.*)memberCenter/personalInfo$ member.ziliao.do [L]
 RewriteRule ^(.*)memberCenter/securityCenter$ member.index.do [L]
 RewriteRule ^(.*)memberCenter/memberlog$ member.memberlog.do [L]
 RewriteRule ^(.*)memberCenter/manageBankcard$ member.bankcard.do [L]
 RewriteRule ^(.*)memberCenter/betRecord$ member.betrecord.do [L]
 RewriteRule ^(.*)memberCenter/BillRecord$ account.dealrecord.do [L]
 RewriteRule ^(.*)memberCenter/PLstatement$ account.todayloss.do [L]
 RewriteRule ^(.*)tools/_ajax/todayloss/(.*)$ "$1?m=Home&c=Account&a=todayloss&atime=$2" [L]
 RewriteRule ^(.*)memberCenter/Notice$ member.gglist.do [L]
 RewriteRule ^(.*)memberCenter/agentReport$ member.agent.do [L]
 RewriteRule ^(.*)payment/ebankPay$  account.quickrecharge.do [L]
 RewriteRule ^(.*)setSafePwd/withdraw$  member.bankcard.do [L]
 RewriteRule ^(.*)memberCenter/agentReport$ member.agent.do [L]
 RewriteRule ^(.*)verifyPwd$  Member.update_pass.do [L]
 RewriteRule ^(.*)ResetSafePwd$ Member.find_safepass.do   [L]
 RewriteRule ^(.*)verifySafePwd$ Member.update_safepass.do [L]
 RewriteRule ^(.*)ResetPhone$   Member.safephone.do [L]
 RewriteRule ^(.*)Bindmail$  Member.bindmail.do [L]
 RewriteRule ^(.*)memberCenter/ggshow/(.*)$  Member.ggshow.aid.$2.do [L]
 RewriteRule ^(.*)find_safepass_phone$  Member.find_safepass_phone.do [L]
 RewriteRule ^(.*)find_safepass_email$  Member.find_safepass_email.do [L]
 RewriteRule ^(.*)find_safepass_qq$  Member.find_safepass_qq.do [L]
 RewriteRule ^(.*)Bindmail$  Member.saveMail.do [L]
 RewriteRule ^(.*)forgetPaw$  Public.forgetPaw.do [L]
 RewriteRule ^(.*)forgetPaw1$  Public.forgetPaw1.do [L]
 RewriteRule ^(.*)forgetPaw2$  Public.forgetPaw2.do [L]
 RewriteRule ^(.*)forgetPaw3$  Public.forgetPaw3.do [L]
 RewriteRule ^(.*)dlsm$  member.dlsm.do [L]
 RewriteRule ^(.*)quota$  member.quota.do [L]
 RewriteRule ^(.*)memberCenter/yeb$  member.yeb.do [L]
 RewriteRule ^(.*)memberCenter/caidan$  member.caidan.do [L]
 RewriteRule ^(.*)yebCenter/index$  yeb.index.do [L]
 RewriteRule ^(.*)yebCenter/yebsy$  yeb.yebsy.do [L]
 RewriteRule ^(.*)yebCenter/yebhqcq$  yeb.yebhqcq.do [L]
 RewriteRule ^(.*)yebCenter/yebhqjl$  yeb.yebhqjl.do [L]
 RewriteRule ^(.*)yebCenter/yebdqcq$  yeb.yebdqcq.do [L]
 RewriteRule ^(.*)yebCenter/yebdqjl$  yeb.yebdqjl.do [L]
 RewriteRule ^(.*)yebCenter/yebzrhq$  yeb.yebzrhq.do [L]
 RewriteRule ^(.*)yebCenter/yebzrdq$  yeb.yebzrdq.do [L]
 RewriteRule ^(.*)yebCenter/yebzchq$  yeb.yebzchq.do [L]
 RewriteRule ^(.*)yebCenter/yebzcdq$  yeb.yebzcdq.do [L]
 RewriteRule ^(.*)yebCenter/yebzclx$  yeb.yebzclx.do [L]
 RewriteRule ^(.*)userCenter/rechargeWay$ account.rechargelist.do [L]
 RewriteRule ^(.*)userCenter/withdrawals$ account.withdrawals.do [L]
 RewriteRule ^(.*)userCenter/addbank$ member.addbank.do [L]
 RewriteRule ^(.*)userCenter/personalInfo$ member.personalinfo.do [L]
 RewriteRule ^(.*)userCenter/betRecord$ member.betrecord.do [L]
 RewriteRule ^(.*)userCenter/billRecord$ account.dealrecord.do [L]
 RewriteRule ^(.*)userCenter/agentCenter$ member.agent.do [L]
 RewriteRule ^(.*)userCenter/securityCenter$ member.setting.do [L]
 RewriteRule ^(.*)userCenter/PLstatement$ account.todayloss.do [L]
 RewriteRule ^(.*)userCenter/notice$  member.gglist.do [L]
 RewriteRule ^(.*)userCenter/noticeDetail\?noticeId=(.+)$ member.ggshow.aid.$1.do [L]
 RewriteRule ^(.*)loginout$  public.loginout.do [L]
 RewriteRule ^(.*)register$  public.register.do [L]
 RewriteRule ^(.*)apublic$  apublic.login.do [L]
 RewriteRule ^(.*)howToPlay/OG10K3$  Game.howtoplay.name.sfks.cz.k3 [L]
 RewriteRule ^(.*)MemberCenter$  Member.index.do [L]
 RewriteRule ^(.*)gameChart/(.*)/(.*)$ Trend.$2.code.$3.do [L]
 RewriteRule ^(.*)lotterys/(.*)/(.*)$ Game.$2?code=$3 [L]
 RewriteRule ^(.*)lotterys_hot/(.*)/(.*)/(.*)$ Game.$2?code=$3&isct=$4 [L]
 RewriteRule ^(.*)Game/paly_(.*)/type_(.*)$ Zhenren.login.plat_type.$2.game_type.$3.do [L]
 RewriteRule ^(.*)lottery/(.*)/(.*)$ game.$2.code.$3.do [L]
 RewriteRule ^(.*)lotteryMore$ index.lotteryhall.do [L]
 RewriteRule ^(.*)lotteryAllhemai$ index.lotteryAllhemai.do [L]
 RewriteRule ^(.*)payment/ebankPay$ account.recharge1.do [L]
 RewriteRule ^(.*)payment/wxPay$ account.wxrecharge.do [L]
 RewriteRule ^(.*)payment/zfbPay$ account.zfbpay.do [L]
 RewriteRule ^(.*)discovery/newWinners/on$ Index.winners.do [L]
 RewriteRule ^(.*)forgetPwd$ public.forgetpaw.do [L]
 RewriteRule ^(.*)userCenter/normalPayBank$ account.recharge.do [L]
 RewriteRule ^(.*)userCenter/zfbPay$ account.zfbrecharge.do [L]
 RewriteRule ^(.*)userCenter/wxPay$ account.wxrecharge.do [L]
 RewriteRule ^(.*)userCenter/billRecord1$ account.dealrecord2.do [L]
 RewriteRule ^(.*)userCenter/xiaoxi$ Member.xiaoxi.do [L]
 RewriteRule ^(.*)userCenter/billRecord2$ account.dealrecord3.do [L]
 RewriteRule ^(.*)userbankname$ account.userbankname.do [L]
 RewriteRule ^(.*)safephone$ member.safephone.do [L]
 RewriteRule ^(.*)bindmail$ member.bindmail.do [L]
 RewriteRule ^(.*)userCenter/verifyPwd$ member.update_pass.do [L]
 RewriteRule ^(.*)userCenter/setSafePwd$ member.update_safepass.do [L]
 RewriteRule ^(.*)userCenter/manageBankcard$ member.bindcard.do [L]
 RewriteRule ^(.*)userCenter/safepass$ member.find_safepass.do [L]
 RewriteRule ^(.*)userCenter/withdraw$ member.addbank.do [L]
 RewriteRule ^(.*)howToPlay/(.*)$  Game.howtoplay.cz.$2.do [L]
 RewriteRule ^(.*)dealrecord/p/(.*)$ Account.dealrecord.p.$2.do [L]
 RewriteRule ^(.*)dealrecord2/p/(.*)$ "Account.dealrecord2.p.$2.do" [L]
 RewriteRule ^(.*)betrecord/p/(.*)$ "Member.betrecord.p.$2.do" [L]
 RewriteRule ^(.*)betRecord/itemselect/(.*)/p/(.*)$ "Member.betRecord.itemselect.$2.p.$3.do" [L]
 RewriteRule ^(.*)betrecord/itemselect/(.*)/p/(.*)$ "Member.betRecord.itemselect.$2.p.$3.do" [L]
 RewriteRule ^(.*)tools/_ajax/getBetRecord/(.*)/(.*)/(.*)$ $1Member.betRecord.name.$2.atime.$3.a_item.$4 [L] 
 RewriteRule ^(.*)tools/_ajax/queryBillRecords/(.*)/(.*)$ "$1?m=Home&c=Account&a=dealRecord&atime=$2&type=$3" [L]
 RewriteRule ^(.*)userCenter/Account/atime/(.*)$  "$1?m=Mobile&c=Account&a=dealRecord&atime=$2" [L]
 RewriteRule ^(.*)userCenter/Account2/atime/(.*)$  "$1?m=Mobile&c=Account&a=dealRecord2&atime=$2" [L]
 RewriteRule ^(.*)userCenter/Account3/atime/(.*)$  "$1?m=Mobile&c=Account&a=dealRecord3&atime=$2" [L]
 RewriteRule ^(.*)tools/_ajax/queryBillRecord$  account.dealrecord.do [L]
 RewriteRule ^(.*)tools/_ajax/queryRechargeRecord$  account.dealrecord2.do [L]
 RewriteRule ^(.*)tools/_ajax/queryWithdrawRecord$  account.dealrecord3.do [L]
 RewriteRule ^(.*)memberCenter/noticeDetail/(.*)$ member.ggshow.aid.$2.do [L]
 RewriteRule ^(.*)userCenter/betRecords/(.*)/(.*)$ Member.betRecord.itemselect.$2.atime.$3.do [L]
 RewriteRule ^(.*)userCenter/adad/(.*)$ Member.adad.trano.$2.do [L]
 RewriteRule ^(.*)userCenter/help$ Member.help.do [L]
 RewriteRule ^(.*)userCenter/bangdingqq$ Member.bangdingqq.do [L]
 RewriteRule ^(.*)trans$ Member.trans.do [L]
 RewriteRule ^(.*)userCenter/noticeDetail/(.*)$ member.ggshow.aid.$2.do [L]
 RewriteRule ^(.*)userCenter/xiaoinfo/(.*)$ member.xiaoinfo.id.$2.do [L]
 RewriteRule ^(.*)userCenter/find_Phone$ member.find_safepass_phone.do [L]
 RewriteRule ^(.*)userCenter/find_email$ member.find_safepass_email.do [L]
 RewriteRule ^(.*)userCenter/find_qq$ member.find_safepass_qq.do [L]
 RewriteRule ^(.*)register/promotionInvite/(.*)$ "Public.register.linkid.$2 [L]
 RewriteRule ^(.*)safepass2$ Member.safepass2.do [L]
 RewriteRule ^(.*)about/(.*)$ /News.lists.catid.30.showid.$2.do?About [L]
 RewriteRule ^(.*)byhelp$ /News.byhelp.do [L]
 RewriteRule ^(.*)byhelp/helptxt(.*)$ /News.helptxt$2.do [L]
 RewriteRule ^(.*)agent_index$ agent.index.do [L]
 RewriteRule ^(.*)register/linkid/(.*)$ Public.register.linkid.$2 [L]
 RewriteRule ^(.*)dailyPrise(.*)$ activity.promotion.do [L]
 RewriteRule ^(.*)dailyPrise1(.*)$ activity.activitylist1.do [L]
 RewriteRule ^(.*)dailyPrise2(.*)$ activity.activitylist2.do [L]
 RewriteRule ^(.*)dailyPrise3(.*)$ activity.activitylist3.do [L]
 RewriteRule ^(.*)upgrade(.*)$ activity.everydayplus.do [L]
 RewriteRule ^(.*)userCenter/verifySafePwd(.*)$ public.forgetpaw1.userName.$2 [L]
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^(.*)$ start.php?s=$1 [QSA,PT,L]
 
